.event-list-container {
    margin: 20px;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.view-details-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}